body {
    background-color: #2c3337;
}
body obj, sg, struct, num, func, com, lgv, lop, str {
    font-family: Consolas;
    font-size: 18pt;
}
obj {
    color: #f2ddc6;
}
sg {
    color: #ffcf40;
}
struct {
    color: #fd5e53;
}
num {
    color: #a6caf0;
}
func {
    color: #9370d8;
}
com {
    color: #808080;
}
lgv {
    color: #ff7518;
}
lop {
    color: #cc7722;
}
str {
    color: #507d2a;
}